@use '../base/colors' as *;

#generate-test-terminal {
  .topic {
    span {
      color: $success;
    }
  }

  .menu-button:not(:last-child) {
    button {
      cursor: inherit;

      span {
        cursor: pointer;
      }
    }
  }
}
