@use '../base/colors' as *;

.menu-select {
  display: flex;

  .menu-select__selected {
    color: $success;
    cursor: pointer;

    span {
      color: $light;
    }
  }

  * + * {
    margin-left: 1.25em;
  }
}
